// navigational styling

nav {
    background-color: @light-grey;
    .custom-layout(space-around, center);
	margin: 0;
	.shadow();
	position: fixed;
    top: 0%;
    left: 0%;
	height: 8vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    
}


.nav-list{
    .custom-layout(space-around, center);
    width: 60%;

    li{
        list-style: none;
        padding: 0 30px;
        
        a{	
            color:@navy;
            font-weight: 700;
            text-decoration: none;
            .transition();

            &:hover{
                color:fadeout(@mint, 50%);
            }
        }
    }
}

.nav-toggle {
    display: none;

    div {
        background-color: @navy;
        width: 25px;
        height: 3px;
        margin: 5px
    }
}

@media @desktop {

}

@media @tablet {
    .nav-list {
        background-color: @light-grey;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

